*{
    margin:0px;
}
.titulo{
    text-align: center;
    padding:20px;
    font-size: 25px;
}
.carta{
    position:relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}
#computadoras-cartas,#jugador-cartas{
    height:220px;
}